@import 'todos.scss';
@import 'user-profile.scss';

.nav-link {
    float: right;
    margin-top: 20px;
}

.auth-panel {
	
}

.auth-panel span{
	padding: 10px;
    display: block;
    font-size: 21px;
    margin-right: 10px;
}